body {
    font-family: 'Yatra One', cursive;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: darkred;
}

#click {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    height: 3em;
    border-radius: 10px;
    box-shadow: 3px 3px;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-size: 1em;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    padding: 1em;
    background-color: darkgoldenrod;
    width: 30em;
    border-radius: 10px;
    height: auto;
}

.cookie {
    width: 27em;
    height: auto;
    display: flex;
    margin: auto;    

}

@media screen and (max-width: 856px) {
#result {
    width: 20em;
}

}

@media screen and (max-width: 610px) {
    #result {
        width: 15em;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
        
    }
    
}

@media screen and (max-width: 440px) {

    #result {
        width: 10em;
        font-size: 1rem;
    }

    .cookie {
        width: 10em;
        height: auto;
        display: flex;
        margin: auto;    
    
    }


}

@media screen and (max-width: 206px) {

    #result {
        width: 8em;
        font-size: 1rem;
    }
}